In [1]:
import pandas as pd
from pathlib import Path
from utils.paths import DATA_RAW_DIR

In [2]:
path_partidos = str(DATA_RAW_DIR / 'partidos_cebollitas.csv')

print('Path:', path_partidos)
print('Does path exist?', Path(path_partidos).exists())

Path: /Users/jssdev/Dev/Learning/Platzi/platzi-machine-learning/data/raw/partidos_cebollitas.csv
Does path exist? True

In [3]:
df_partidos = pd.read_csv(path_partidos, sep=',', encoding='utf-8')
df_partidos.head()

,fecha_partido,equipo_local,equipo_visitante,goles_local,goles_visitante,posesion_local (%),posesion_visitante (%),tiros_arco_local,tiros_arco_visitante,estadio
0,2023-01-01,Atlético Python,Cebollitas FC,2,0,54,46,12,6,Python Arena
1,2023-01-08,NumPy City,Atlético Python,1,5,60,40,12,3,Estadio ML
2,2023-01-15,Cebollitas FC,Data United,1,0,55,45,10,7,Python Arena
3,2023-01-22,Atlético Python,Data United,2,3,57,43,3,3,Campo Pandas
4,2023-01-29,Data United,Cebollitas FC,5,3,52,48,7,12,Estadio ML

In [4]:
df_partidos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   fecha_partido           100 non-null    object
 1   equipo_local            100 non-null    object
 2   equipo_visitante        100 non-null    object
 3   goles_local             100 non-null    int64
 4   goles_visitante         100 non-null    int64
 5   posesion_local (%)      100 non-null    int64
 6   posesion_visitante (%)  100 non-null    int64
 7   tiros_arco_local        100 non-null    int64
 8   tiros_arco_visitante    100 non-null    int64
 9   estadio                 100 non-null    object
dtypes: int64(6), object(4)
memory usage: 7.9+ KB

In [5]:
df_partidos['goles_local'].isna().sum()

np.int64(0)

In [6]:
df_partidos.isna().sum()

fecha_partido             0
equipo_local              0
equipo_visitante          0
goles_local               0
goles_visitante           0
posesion_local (%)        0
posesion_visitante (%)    0
tiros_arco_local          0
tiros_arco_visitante      0
estadio                   0
dtype: int64

### One hot encoding

In [7]:
print(df_partidos['equipo_local'].unique())
print(df_partidos['equipo_local'].nunique())

['Atlético Python' 'NumPy City' 'Cebollitas FC' 'Data United'
 'Real Pandas']
5

In [8]:
print(df_partidos['equipo_visitante'].unique())
print(df_partidos['equipo_visitante'].nunique())

['Cebollitas FC' 'Atlético Python' 'Data United' 'Real Pandas'
 'NumPy City']
5

In [9]:
df_partidos.shape

(100, 10)

In [10]:
df_partidos_ohe = pd.get_dummies(df_partidos,
                                columns=['equipo_local', 'equipo_visitante'],
                                prefix=['equipo_local', 'equipo_visitante'],
                                dtype=int)

df_partidos_ohe.head()

,fecha_partido,goles_local,goles_visitante,posesion_local (%),posesion_visitante (%),tiros_arco_local,tiros_arco_visitante,estadio,equipo_local_Atlético Python,equipo_local_Cebollitas FC,equipo_local_Data United,equipo_local_NumPy City,equipo_local_Real Pandas,equipo_visitante_Atlético Python,equipo_visitante_Cebollitas FC,equipo_visitante_Data United,equipo_visitante_NumPy City,equipo_visitante_Real Pandas
0,2023-01-01,2,0,54,46,12,6,Python Arena,1,0,0,0,0,0,1,0,0,0
1,2023-01-08,1,5,60,40,12,3,Estadio ML,0,0,0,1,0,1,0,0,0,0
2,2023-01-15,1,0,55,45,10,7,Python Arena,0,1,0,0,0,0,0,1,0,0
3,2023-01-22,2,3,57,43,3,3,Campo Pandas,1,0,0,0,0,0,0,1,0,0
4,2023-01-29,5,3,52,48,7,12,Estadio ML,0,0,1,0,0,0,1,0,0,0

In [11]:
df_partidos_ohe.shape

(100, 18)

In [12]:
#gestion de duplicados
df_partidos_ohe.duplicated().sum()

np.int64(0)

In [13]:
len(df_partidos_ohe)

100

#### Revisar los tipos de datos

In [14]:
df_partidos_ohe.dtypes

fecha_partido                       object
goles_local                          int64
goles_visitante                      int64
posesion_local (%)                   int64
posesion_visitante (%)               int64
tiros_arco_local                     int64
tiros_arco_visitante                 int64
estadio                             object
equipo_local_Atlético Python         int64
equipo_local_Cebollitas FC           int64
equipo_local_Data United             int64
equipo_local_NumPy City              int64
equipo_local_Real Pandas             int64
equipo_visitante_Atlético Python     int64
equipo_visitante_Cebollitas FC       int64
equipo_visitante_Data United         int64
equipo_visitante_NumPy City          int64
equipo_visitante_Real Pandas         int64
dtype: object

solo el campo `fecha_partido` deberia ser corregido

In [15]:
df_partidos_ohe.head()

,fecha_partido,goles_local,goles_visitante,posesion_local (%),posesion_visitante (%),tiros_arco_local,tiros_arco_visitante,estadio,equipo_local_Atlético Python,equipo_local_Cebollitas FC,equipo_local_Data United,equipo_local_NumPy City,equipo_local_Real Pandas,equipo_visitante_Atlético Python,equipo_visitante_Cebollitas FC,equipo_visitante_Data United,equipo_visitante_NumPy City,equipo_visitante_Real Pandas
0,2023-01-01,2,0,54,46,12,6,Python Arena,1,0,0,0,0,0,1,0,0,0
1,2023-01-08,1,5,60,40,12,3,Estadio ML,0,0,0,1,0,1,0,0,0,0
2,2023-01-15,1,0,55,45,10,7,Python Arena,0,1,0,0,0,0,0,1,0,0
3,2023-01-22,2,3,57,43,3,3,Campo Pandas,1,0,0,0,0,0,0,1,0,0
4,2023-01-29,5,3,52,48,7,12,Estadio ML,0,0,1,0,0,0,1,0,0,0

In [19]:
df_partidos_ohe['fecha_partido'] = pd.to_datetime(
    df_partidos_ohe['fecha_partido'], format=r'%Y-%m-%d', errors='coerce')



df_partidos_ohe.head()

,fecha_partido,goles_local,goles_visitante,posesion_local (%),posesion_visitante (%),tiros_arco_local,tiros_arco_visitante,estadio,equipo_local_Atlético Python,equipo_local_Cebollitas FC,equipo_local_Data United,equipo_local_NumPy City,equipo_local_Real Pandas,equipo_visitante_Atlético Python,equipo_visitante_Cebollitas FC,equipo_visitante_Data United,equipo_visitante_NumPy City,equipo_visitante_Real Pandas
0,2023-01-01,2,0,54,46,12,6,Python Arena,1,0,0,0,0,0,1,0,0,0
1,2023-01-08,1,5,60,40,12,3,Estadio ML,0,0,0,1,0,1,0,0,0,0
2,2023-01-15,1,0,55,45,10,7,Python Arena,0,1,0,0,0,0,0,1,0,0
3,2023-01-22,2,3,57,43,3,3,Campo Pandas,1,0,0,0,0,0,0,1,0,0
4,2023-01-29,5,3,52,48,7,12,Estadio ML,0,0,1,0,0,0,1,0,0,0

In [20]:
df_partidos_ohe.dtypes

fecha_partido                       datetime64[ns]
goles_local                                  int64
goles_visitante                              int64
posesion_local (%)                           int64
posesion_visitante (%)                       int64
tiros_arco_local                             int64
tiros_arco_visitante                         int64
estadio                                     object
equipo_local_Atlético Python                 int64
equipo_local_Cebollitas FC                   int64
equipo_local_Data United                     int64
equipo_local_NumPy City                      int64
equipo_local_Real Pandas                     int64
equipo_visitante_Atlético Python             int64
equipo_visitante_Cebollitas FC               int64
equipo_visitante_Data United                 int64
equipo_visitante_NumPy City                  int64
equipo_visitante_Real Pandas                 int64
dtype: object

In [21]:
df_partidos_ohe.isnull().sum()

fecha_partido                       0
goles_local                         0
goles_visitante                     0
posesion_local (%)                  0
posesion_visitante (%)              0
tiros_arco_local                    0
tiros_arco_visitante                0
estadio                             0
equipo_local_Atlético Python        0
equipo_local_Cebollitas FC          0
equipo_local_Data United            0
equipo_local_NumPy City             0
equipo_local_Real Pandas            0
equipo_visitante_Atlético Python    0
equipo_visitante_Cebollitas FC      0
equipo_visitante_Data United        0
equipo_visitante_NumPy City         0
equipo_visitante_Real Pandas        0
dtype: int64

In [22]:
df_partidos_ohe.shape

(100, 18)